// Header
.title{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 28px;
    background-color: #08AEEA;
    background-image: linear-gradient(62deg, #08AEEA 0%, #2AF598 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.title-link:hover{
    text-decoration: none;
}

.logo-hover:hover{
    width: 50px;
}

.max-window{
    margin-left: 75%;
}

@media (max-width: 1250px) { 
    .max-window{
        margin-left: 68%;
    }
}

@media (max-width: 992px){
    .max-window{
        margin-left: 55%;
    }
}

@media (max-width: 768px){
    .title{
        font-size: 24px;
    }
    .toolbar{
        height: 80px;
    }
    .max-window{
        margin-left: 45% !important;
        margin-right: 45% !important;
    }

    #api-icon{
        padding-left: 20px;
        padding-right: 20px;
    }
}



  .toolbar .twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar .twitter-logo:hover {
    opacity: 0.7;
  }

  .icon-hover:hover{
      opacity: 0.7 !important;
  }

  #api-icon{
      color: white;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 7px;
      margin-bottom: 10px;
      font-weight: 600;
  }