<!-- Toolbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">
      <img
      width="48"
      alt="COVID'19 App"
      src="../assets/icons/logo/corona.png"
      class="heartbeat logo-hover" />
    </a>
    <a href="#" class="title-link"><span class="title">{{ title }}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-center max-window">
        <a class="nav-item btn btn-secondary mr-3" id="api-icon" target="_blank" href="https://rapidapi.com/api-sports/api/covid-193?endpoint=apiendpoint_dfb9e52d-bd90-48ec-a571-8b78610a736d">
          API <img class="jello-horizontal icon-hover twitter-logo" height="26" src="../assets/icons/logo/api.png" alt="API Link">
        </a>
        <a class="nav-item nav-link mr-2" aria-label="Covid 19 App" target="_blank" rel="noopener" href="https://www.linkedin.com/in/abdul-raffay-rizwan/" title="LinkedIn" data-toggle="tooltip" data-placement="bottom">
          <img class="jello-horizontal icon-hover twitter-logo" id="twitter-logo" height="37" src="../assets/icons/logo/linkedin.png" alt="LinkedIn Link">
        </a>
        <a class="nav-item nav-link mr-2" aria-label="Covid 19 App" target="_blank" rel="noopener" href="https://twitter.com/zaime_ali" title="Twitter" data-toggle="tooltip" data-placement="bottom">
          <img class="jello-horizontal icon-hover twitter-logo" height="36" src="../assets/icons/logo/twitter.png" alt="Twitter Link">
        </a>
        <a class="nav-item nav-link" aria-label="Covid 19 App" target="_blank" rel="noopener" href="https://github.com/zaimeali" title="Github" data-toggle="tooltip" data-placement="bottom">
          <img class="jello-horizontal icon-hover twitter-logo" height="36" src="https://image.flaticon.com/icons/png/512/1322/1322053.png" alt="Github Link">
        </a>
      </div>
    </div>
</nav>